<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>
<h2>SOWs</h2>
<table border="1">
  <% @customer.sows.each do |sow| %>
  <tr>
    <td><%= sow.category %></td>
    <td><%= link_to 'Add Tasks', customer_sow_path(sow.customer, sow) %></td>
    <td><%= sow.price %></td>
    <td><a target="_blank" href="<%= sow.link %>">Link to SOW in Dropbox</td>
    <td><%= link_to 'Edit', [sow.customer, sow], :method => :edit%></td>
    <td><%= link_to 'Delete', [sow.customer, sow],
               :confirm => 'Are you sure?',
               :method => :delete %></td>
  </tr>
  <% end %>
</table>

<h2>Add an SOW:</h2>
<%= render "sows/form" %>
<br/>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
