<h1>Listing customers</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= link_to 'Add/View/Alter SOWs', customer %></td>
    <td><%= link_to 'Change Name', edit_customer_path(customer) %></td>
    <td><%= link_to 'Delete', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
