<%= form_for([@customer, @customer.sows.build]) do |f| %>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label 'Documents Accepted' %>
    <%= f.check_box :docsaccepted %>
  </div>
  <div class="field">
    <%= f.label 'Revenue Recognized' %>
    <%= f.check_box :revrecd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
